* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #303030;
  overflow: hidden;
}

.anim {
  position: fixed;
  cursor: pointer;
}

.anim.anim.opened-curtains {
  cursor: default;
}

.anim,
.anim > * {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.view-background {
  background-image: url(img/garden.png);
}

.room {
  background-image: url(img/room1.png);
  transition: background-image 1s;
}

.anim.opened-curtains .room {
  background-image: url(img/room2.png);
}

.anim.opened-curtains .dove {
  animation: dove-fly 8s ease-in-out 0s 1 normal forwards;
}

.anim.opened-curtains .letter {
  animation: fade-in 1s ease-in-out 9s 1 normal forwards;
}

.dove {
  width: 20vmax;
  height: 20vmax;
  top: 20%;
  left: 75%;
  overflow: visible;
}
.dove::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background-image: url(img/dove.png);
  background-size: cover;
}

.letter {
  opacity: 0;
}

.letter::before,
.letter::after {
  content: '';
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.letter::before {
  background-color: #000;
  opacity: .7;
}

.letter::after {
  background-image: url(img/letter.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  top: 50vh;
  transform: translateY(-50%);
}

@keyframes dove-fly {
  0% {
    top: -5%;
    left: 45%;
    opacity: 0;
    transform: scale(0.2);
  }

  20% {
    opacity: 1;
  }

  70% {
    top: 70%;
  }

  100% {
    top: 55%;
    left: 50%;
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}